{% extends "layout.html" %}
{% block body %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('     {{url_for('static',filename='img/home-bg.jpg') }}     ')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage Your Post From Here And Change Them </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->


<div class="">
    <div class="">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>ACTION</h2>
        <hr>
        <a href="/dashbord"><button class="btn btn-primary" >DASHBOARD</button></a>
        <a href="/logout"><button class="btn btn-primary" >LOGOUT</button></a>
        <hr>


            <h2>ADD POST HERE</h2>
            <hr>


            <form name="sentMessage" id="contactForm" action="/edit/{{sno}}" method="post" novalidate>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Title" name="title" id="name" required
                               data-validation-required-message="Please enter your name." value="{{post.title}}">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Sub Title</label>
                        <input type="text" class="form-control" placeholder="Sub-heading" name="sub_heading"
                               id="sub_heading" required
                               data-validation-required-message="Please enter your email address." value="{{post.sub_heading}}">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Slug</label>
                        <input type="text" class="form-control" placeholder="Slug" name="slug" id="slug" required
                               data-validation-required-message="Please enter your phone number." value="{{post.slug}}">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Content</label>
                        <textarea  rows=8 class="form-control" placeholder="content" name="content" id="contnet"
                            required data-validation-required-message="Please enter a message." >{{post.content}}</textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Post By</label>
                            <input type="text" class="form-control" placeholder="Post By" name="post_by" id="post_by"
                                   required data-validation-required-message="Please enter a message." value="{{post.post_by}}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Image File</label>
                                <input type="text" class="form-control" placeholder="img_file" name="img_file"
                                       id="img_file" required
                                       data-validation-required-message="Please enter a message." value="{{post.img_file}}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
            </form>


        </div>
    </div>
</div>
{% endblock %}
